.logo-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
}

.logo {
    width: 200px;
    height: 200px;
}

.main-text {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 95.718px;
    font-style: normal;
    font-weight: 700;
    line-height: 97.214px;
    letter-spacing: -1.914px;
    max-width: 900px;
    margin: 0 10px;
}

.sub-text {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 23.93px;
    font-style: italic;
    font-weight: 700;
    line-height: 38.886px;
    letter-spacing: -0.479px;
    max-width: none;  /* Or set to a higher value if needed */
    margin-top: 20px;
}
