.footer {
  background-color: white;
  width: 100%;
  height: 500px;
}

.footercontainer {
  padding-top: 100px;
  padding-left: 80px;
  padding-right: 80px
}

.row {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
  height: 300px
}

.column-text {
  color: #000;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
}

.column-1 {
  flex: 2; /* 2/6 of the row */
}

.row-2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 5px;
  color: #bdb8b8;
  text-align: center;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
  flex-direction: column;
  align-items: center; /* Optional: Align content horizontally in the center */
  text-align: center; /* Optional: Align text horizontally in the center */
}

/* CSS */
.custom-links {
  color: #C73F39;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.custom-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-links li {
  line-height: 30px;
}

.custom-links a {
  text-decoration: none;
  color: inherit;
}

.social-links {
  width: 187px;
  height: 19px;
  display: flex;
  justify-content: space-between;
}

.social-icon {
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.stump-box {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-start; /* Align items (rows) more to the left than center */
  align-items: center; /* Align items (rows) horizontally to the center */
  height: 200px; 
}

.footer-row {
  flex: 1; 
  justify-content: left; 
}


.gray-line {
  width: 1100px;
  height: 0.5px;
  border: 1px solid #000;
  opacity: 0.2;
  background: #000;
  margin-bottom: 10px; /* Add 10px spacing between the line and the div */
}

