.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  background-color: #323232;
  color: #fff;
  border-radius: 20px;
  text-align: left;
}

.accordion-content.open {
  max-height: 500px; /* You can adjust this as needed */
  padding: 50px 175px;
}

@media (max-width: 390px) {
  .accordion-content.open {
    padding: 20px 15px; /* Adjust values as needed */
  }
}