.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  background-color: #323232;
}

.accordion-content.open {
  max-height: 500px; /* You can adjust this as needed */
}
